@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
    --color-terminal: #292b36;
    --borde-redondo: 4px;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 600px) {
    /* reglas CSS para pantallas pequeñas */
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    /* reglas CSS para pantallas de tamaño mediano */
  }
  
  @media (min-width: 901px) {
    /* reglas CSS para pantallas grandes */
  }

#titulo {
    font-size: 2.3rem;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: #292b36;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
    color: white;
}

input, button {
    border: none;
    outline: none;
}

main {
    padding: 30px;
    height: 150px;
    width: 400px;
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
    border-radius: var(--borde-redondo);
    background-color: #a5acac;
}

#input-original, #resultado {
    background-color: var(--color-terminal);
    width: -webkit-fill-available;
}

#input-original {
    margin: 10px 0 0;
    padding: 10px;
    color: white;
    border-radius: 0;

}

#resultado {
    height: 20px;
    color: #5af78d;
    padding: 0 10px 10px;
    border-radius: 0;

}

.rango {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 30px;
    text-align: center;
    align-items: center;
}

input[type='range'] {
    -webkit-appearance: none;
    border-radius: var(--borde-redondo);
    background: var(--color-terminal);
    margin: 0;
    padding: 0 5px;
    height: 20px;
}

input[type='range']::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    background:white;
    border-radius: 50%;
    height:10px;
    width:10px;
}

.boton-formulario {
    line-height: 1.5em;
    padding: 0 10px;
    cursor: pointer;
    margin: 10px 0 0;
    color: black;
    background-color: #5af78d
    
}
.contenedor-formulario {
    display: flex;
    justify-content: space-between;

}